@tailwind base;
@tailwind components;
@tailwind utilities;


/* .progress-bar {
    width: 100%;
    background-color: #eee;
  }
  
  .progress-bar-completed {
    height: 20px;
    background-color: pink;
    transition: width 0.5s ease-in-out;
  } */
  @layer components {
    .btn {
      @apply px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700;
    }
  }
  